:root {
    --menu-green: #009B72;
    --menu-red: #B4654A;
    --menu-turquoise: #2EBFA5;
    --menu-pink: #EB9FEF;
    --menu-orange: #DC602E;
    --menu-blue: #1C77C3;

    --menu-color: var(--menu-red);
}

body {
    background-color: #F1DAC4;
}

.menu .row .shape {
    background-color: var(--menu-color);
    min-width: 60px;
    height: 60px;
    float: left;
    transform: skew(-20deg);
    padding: 10px;
}

.menu .row .shape-init {
    position: absolute;
    background-color: var(--menu-color);
    min-width: 60px;
    height: 60px;
    float: left;
}

.menu .row .shape .s-context {
    transform: skew(20deg);
    display: flex;
    margin: auto;
    align-items:center;
    justify-content:center;
}

.menu .row .shape img {
    height: 40px;
    width: 40px;
}

.site-context {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.title {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 25px;
}

.footer {
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;

    background-color: var(--menu-color);
    height: 35px;
    margin-top: 20px;
}